@import "variables";
@import "mixins";
@import "functions";

// bootstrap
@import "~bootstrap/scss/bootstrap";

body, .sticky-footer-wrapper {
	min-height: 100vh;
}

#section-new, #section-search {
	display: none;
}

#alert {
	display: none;
}

#imgCustomer {
	display: block;

	@include media-breakpoint-down(sm) {
		// Styles
		width: 50%;
	}
}

footer {
	background-color: $light;
	font-size: 0.9em;

	.social-logo {
		font-size: 1.5em;

		&:not(:first-of-type) {
			padding-left: 0.5em;
		}
	}
}
