@import "variables";
@import "mixins";
@import "functions";

// bootstrap
@import "~bootstrap/scss/bootstrap";

body, .sticky-footer-wrapper {
	min-height: 100vh;
}

#alert {
	display: none;
}

#imgCustomer {
	display: block;

	@include media-breakpoint-down(sm) {
		// Styles
		width: 50%;
	}
}

footer {
	background-color: $light;
}
